*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.red {
    background-color: brown;
    width: 450px;
    height: 20px;
    position: fixed;
}

.dead {
    background-color: #00666f;
    /* border:1px solid black; */
}

.alive {
    background-color: black;
    /* border:1px solid black; */
}